<p-panel header="Pipes personalizados" class="p-1">
    <p>
      Pipes personalizados - creados por {{ 'nosotros' | toogleCase: true }}
    </p>
  </p-panel>


<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="ToggleCase" icon="pi pi-search" class="mr-2"></p-button>
  </div>
  <div class="p-toolbar-group-end">
      <p-button label="Por nombre" icon="pi pi-sort" styleClass="p-button-success mr-2"></p-button>

      <p-button label="Por volar" icon="pi pi-sort" styleClass="p-button-danger mr-2"></p-button>

      <p-button label="Por color" icon="pi pi-sort" styleClass="p-button-help"></p-button>
  </div>
</p-toolbar>